 /*Move the content on the coding of home page*/
body {
  background-image: url('../Assets/image.jpg');
   padding-top: 50px;
    padding-bottom: 20px;
  background-size:auto;
    background-repeat: no-repeat;
    background-size: cover;

   
}
.outer-wrap {
	background-color:;
	margin: auto;
	padding: 0px;
	float: none;
	height: 750px;
	width: 1400px;
	
}
.auto-style1 {
	 color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-weight: bold;
	text-decoration: underline blink;
}
.auto-style2 {
	margin-top: 0px;
}
.auto-style3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: xx-large;
	font-weight: bold;
	text-decoration: underline blink;
}
.auto-style4 {
	font-size: x-large;
	font-weight: bold;
}
.auto-style5 {
	text-decoration: none;
}

.auto-style6 {
	margin-left: 0px;
	margin-bottom: 0px;
}

.auto-style8 {
	border-width: 0px;
	vertical-align: middle;
}

