
body {
  background-image: url('../Assets/aaaa.jpg');
   padding-top: 50px;
    padding-bottom: 20px;
  background-size:auto;
    background-repeat: no-repeat;
    background-size: cover;

   
}
<!--using class style1 stop make the formatting in headers -->
.auto-style1 {
	 color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-weight: bold;
	text-decoration: underline blink;
}
.auto-style2 {
     color: black;
	margin-top: 0px;
    font-weight: bold;
}
.auto-style3 {
     color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: xx-large;
	font-weight: bold;
	text-decoration: underline blink;
}
.auto-style4 {

	font-  color: white;
    size: small;
	font-weight: bold;
}
